<!DOCTYPE html>
<html lang="en">
  <head th:replace="common/header :: common-header"/>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        
        <!-- Sidebar -->
      	<div th:replace="common/header :: common-sidebar"/>

        <!-- top navigation -->
        <div th:replace="common/header :: common-navbar"/>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add Schedule</h3>
			  </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <form class="form-horizontal form-label-left" th:action="@{|/schedule/${action}|}" method="POST">
                    <input type="hidden" name="id" th:value="${schedule.id}" />
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Location <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="location">
                           <option></option>
                            <option th:each="location : ${locations}"  th:value="${location.id}" th:text="${location.name}" th:selected="${action == 'edit' ? (location.id == schedule.location.id) : (1 == 0)}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Hall <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="hall">
                           <option></option>
                             <option th:each="hall : ${halls}"  th:value="${hall.id}" th:text="${hall.name}" th:selected="${action == 'edit' ? (hall.id == schedule.hall.id) : (1 == 0)}"></option> 
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Faculty<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="faculty" >
                           <option></option>
                           <!--th:selected escaping null problem with subject.faculty.id when adding  -->
                           <option th:each="faculty : ${faculties}"  th:value="${faculty.id}" th:text="${faculty.name}" th:selected="${action == 'edit' ? (faculty.id == schedule.faculty.id) : (1 == 0)}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Faculty Year:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="facultyYear">
                           <option th:each="i : ${#numbers.sequence( 1, 4)}" th:value="${i}" th:text="${i}"  th:selected="${i == schedule.facultyYear}"></option>
                          
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Group <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="group">
                           <option></option>
                            <option th:each="group : ${groups}"  th:value="${group.id}" th:text="${group.name}" th:selected="${action == 'edit' ? (group.id == schedule.group.id) : (1 == 0)}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Subject <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="subject">
                           <option></option>
                            <option th:each="subject : ${subjects}"  th:value="${subject.id}" th:text="${subject.name}" th:selected="${action == 'edit' ? (subject.id == schedule.subject.id) : (1 == 0)}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Day <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="day">
                           <option></option>
                            <option th:selected="${schedule.day == 'Monday'}">Monday</option>
                            <option th:selected="${schedule.day == 'Tuesday'}">Tuesday</option>
                            <option th:selected="${schedule.day == 'Wednesday'}">Wednesday</option>
                            <option th:selected="${schedule.day == 'Thursday'}"> Thursday</option>
                            <option th:selected="${schedule.day == 'Friday'}">Friday</option>
                            <option th:selected="${schedule.day == 'Saturday'}">Saturday</option>
                          </select>
                        </div>
                      </div>
					  <div class="form-group">
					   <label class="control-label col-md-3 col-sm-3 col-xs-12">Time From <span class="required">*</span></label>
					   <div class="col-md-6 col-sm-6 col-xs-12">
						 <div class='input-group date'>
							<input type='text' class="form-control" id='myDatepicker1' name="timeFrom" th:value="${schedule.timeFrom}" />
							  <span class="input-group-addon">
								   <span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						  </div>
					  </div>
                     <div class="form-group">
					   <label class="control-label col-md-3 col-sm-3 col-xs-12">Time To <span class="required">*</span></label>
					   <div class="col-md-6 col-sm-6 col-xs-12">
						 <div class='input-group date'>
							<input type='text' id='myDatepicker2' class="form-control" name="timeTo" th:value="${schedule.timeTo}" />
							  <span class="input-group-addon">
								   <span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						  </div>
					  </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="type">
                           <option></option>
                            <option th:selected="${schedule.type == 0 ? true : false}" value="0">Lesson</option>
                            <option th:selected="${schedule.type == 1 ? true : false}" value="1">Practice</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Professor <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="professor">
                           <option></option>
                            <option th:each="professor : ${professors}"  th:value="${professor.id}" th:text="${professor.name}" th:selected="${action == 'edit' ? (professor.id == schedule.professor.id) : (1 == 0)}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <a th:href="@{/schedule/list}"  type="submit" class="btn btn-primary">Cancel</a>
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="common/footer :: common-footer"/>
        
        <!-- bottom scripts -->
        <div th:replace="common/footer :: common-bottom-scripts" />
        
        
        <script>
       
        $(function(){
        	$('#myDatepicker1').datetimepicker({
		        format: 'HH:mm'
		    });
				
			$('#myDatepicker2').datetimepicker({
		        format: 'HH:mm'
		    });
        });
		    
         </script>
      </div>
    </div>
  </body>
</html>
	
	
	