<!DOCTYPE html>
<html lang="en">
  <head th:replace="common/header :: common-header"/>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        
        
        <!-- Sidebar -->
      	<div th:replace="common/header :: common-sidebar"/>

        <!-- top navigation -->
        <div th:replace="common/header :: common-navbar"/>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 th:text="${action + ' Group'}"></h3>
			  </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="alert alert-danger" th:if="${groupExists}">
  				<strong>Careful!</strong> Subject already exists, use another.
			</div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <form class="form-horizontal form-label-left" th:action="@{|/group/${action}|}" method="POST">
                      <input type="hidden" name="id" th:value="${group.id}" />
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" th:value="${group.name}" name="name" placeholder="e.g CS1-G1" required="required" type="text"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Faculty<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="faculty" >
                           <option></option>
                           <!--th:selected escaping null problem with subject.faculty.id when adding  -->
                           <option th:each="faculty : ${faculties}"  th:value="${faculty.id}" th:text="${faculty.name}" th:selected="${action == 'edit' ? (faculty.id == group.faculty.id) : (1 == 0)}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Faculty Year:</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="facultyYear">
                           <option th:each="i : ${#numbers.sequence( 1, 4)}" th:value="${i}" th:text="${i}"  th:selected="${i == group.facultyYear}"></option>
                          
                          </select>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <a th:href="@{/group/list}"  type="submit" class="btn btn-primary">Cancel</a>
                          <button id="send" type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer th:replace="common/footer :: common-footer"/>
        
        <!-- bottom scripts -->
        <div th:replace="common/footer :: common-bottom-scripts" />
      </div>
    </div>
  </body>
</html>